<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	   http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"

	   bean-discovery-mode="annotated">

	<interceptors>
		<class>ro.uaic.info.documents.submission.documentssubmisson.interceptors.LoggedInterceptor</class>
	</interceptors>

	<decorators>
		<class>ro.uaic.info.documents.submission.documentssubmisson.decorators.SubmissionDecorator</class>
	</decorators>

<!--	<alternatives>-->
<!--		<class>ro.uaic.info.documents.submission.documentssubmisson.decorators.SubmissionDecorator</class>-->
<!--	</alternatives>-->
</beans>
